* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;

    body {
        background-color: black;
        font-family: 'Montserrat', sans-serif;
    }
}

/* ---------- Home ---------------------------------------------------------------------- */

%back-ground  {
    background-color: #cc5577;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23ce5776' x='10' width='11' height='11'/%3E%3Crect fill='%23d05a76' y='10' width='11' height='11'/%3E%3Crect fill='%23d15c75' x='20' width='11' height='11'/%3E%3Crect fill='%23d35f74' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d46174' y='20' width='11' height='11'/%3E%3Crect fill='%23d66473' x='30' width='11' height='11'/%3E%3Crect fill='%23d76673' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d96972' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23da6c72' y='30' width='11' height='11'/%3E%3Crect fill='%23db6e71' x='40' width='11' height='11'/%3E%3Crect fill='%23dc7171' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dd7471' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23de7671' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23df7971' y='40' width='11' height='11'/%3E%3Crect fill='%23e07c71' x='50' width='11' height='11'/%3E%3Crect fill='%23e17e71' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e28171' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e38471' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e38771' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e48972' y='50' width='11' height='11'/%3E%3Crect fill='%23e58c72' x='60' width='11' height='11'/%3E%3Crect fill='%23e58f73' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e69173' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e69474' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e79775' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e79a75' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e89c76' x='70' width='11' height='11'/%3E%3Crect fill='%23e89f77' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e8a278' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a47a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e9a77b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e9aa7c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ac7e' x='80' width='11' height='11'/%3E%3Crect fill='%23eaaf7f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eab281' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eab482' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23eab784' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23eaba86' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ebbc88' x='90' width='11' height='11'/%3E%3Crect fill='%23ebbf8a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ebc18c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ebc48e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ebc790' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebc992' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcc94' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ebce97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ebd199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ecd39c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ecd69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ecd8a1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ecdba4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ecdda6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ece0a9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ede2ac' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ede4af' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ede7b2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ede9b5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.home {
    height: 100vh;
    display: flex;
    @extend %back-ground;
}

/* ---------- Izquieda Home ------------------------------------------------------------ */

.logo {
    width: 50%;
    background-color: black;
    .logo__centerLogo {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 80%;
    }
}


/* ---------- Derecha entry ---------------------------------------------------------------------- */

/* lobby */

.lobby {
    width: 50%;
}

/* nav */

#barsMenu {
    display: none;
}

.nav {
    width: 80%;
    margin: 30px auto;
    .nav__ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    
        li:hover {
            transform: scale(1.1) translateY(-3px);
            text-shadow: 2px 4px rgb(253, 253, 253);
            transition: 0.5s;
        }
    }
    .nav__a {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        color: black;
        text-decoration: none;
        font-family: 'Press Start 2P', cursive;
        font-weight: 800;
    }
}

/* lobby__div */

.lobby__div {
    margin-top: 200px;
    width: 80%;
    margin: auto;
    margin-top: 200px;
    .lobby__welcome {
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
        font-family: 'Press Start 2P', cursive;
        font-size: 3rem;
    }
    .lobby__p {
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
}

/* contact */

%contacto_IconsRedes {
    .lobby__icons {
        width: 160px;
    }
    .lobby__redes {
        color: black;
        font-size: 30px;
        padding: 10px;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        transition: .2s;
    }
}

.lobby__contact {
    width: 80%;
    margin: auto;
    margin-top: 8vw;
    .lobby__p {
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
    .lobby__p_padding {
        margin-bottom: 25px;
    }
    @extend %contacto_IconsRedes
}

.lobby__icons {
    &:hover  .lobby__redes {
        filter: blur(2px);
    }
    & .lobby__redes_instagram:hover, & .lobby__redes_facebook:hover, & .lobby__redes_tiktok:hover{
        transform: scale(1.05) translateY(-3px);
        filter: none;
        box-shadow: 0 10px 5px 0px rgba(0, 0, 0, .2);
    }
}

/* ---------- Habilidades ---------------------------------------------------------------------- */

.pokedex { 
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .pokedex__div {
    @extend %back-ground;
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover {
        transform: scale(1.2);
        transition: 1s;
    }
    h3 { margin: 20px;}
    li {
        margin: 15px;
        list-style: none;
        font-size: 1.5rem;
    }
    }
}

/* ---------- Proyectos ---------------------------------------------------------------------- */

.theme {
    height: 110vh;
    @extend %back-ground;
    .theme__h2 {
        display: flex;
        padding-top: 50px;
        justify-content: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    .theme__containerCards {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        .theme__cards {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

/* Button */

.theme__button {
    width: 200px;
    margin: 50px auto 80px;
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    .theme__buttonstyle {
        display: block;
        box-sizing: border-box;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 0.75em 1.5em;
        background: var(--button_color);
        color: var(--button_outline_color);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
    }
}

#theme__button_blue {
    width: auto;
}

.links:link, .links:visited, .links:active {
    text-decoration: none;
}

.theme__button {
    &:hover .theme__buttonstyle {
       transform: translateY(-0.33em);
    }
    &:active .theme__buttonstyle {
       transform: translateY(0);
    }
}


/* Card */

.theme__card {
    position: relative;
    width: 20vw;
    height: 20vw*1.3;
    border-radius: 20px;
    & div {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        backface-visibility: hidden;
        transition: 2s;
    }
    .theme__cardFront {
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        background-color: white;
        transform: perspective(800px) rotateY(0deg);
    }
    .theme__cardBack {
        background-color: white;
        transform: perspective(800px) rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & hr {
            width: 90%;
            border-color: #000;
        }
        & img {
            width: 40%;
        }
        p {
            font-size: 0.9rem;
            text-align: center;
        }
    }
}

.theme__card {       
    .theme__cardFront{

        .imgProject {
            display: flex;
            & img {
                max-width: 100%;
                margin: auto;
            }
        }
    }
}

/* ---------- contacto ---------------------------------------------------------------------- */

.contacto {
    height: 250px;
    color: white;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contacto {
    .contacto__datos {
        text-align: center;
    }
    @extend %contacto_IconsRedes;
    .lobby__redes {
        color: white;
        box-shadow: 0 3px 5px 0px rgba(255, 255, 255, 0.2);
    }
}

/* ----------------------------@MEDIAS ----------------------------------------------------------------*/

@media (max-width: 920px) {
    .nav{
        .nav__a {
            font-size: 0.8rem;
        }
    }
    .theme {
        height: 90vh;
    }
    .theme__card {
        .theme__cardBack {
            & h2 {
                font-size: 1rem;
            }
            & p {
                font-size: 0.8rem;
            }
        }
    }
    .lobby__div {
        .lobby__welcome {
            font-size: 2rem;
        }
        .lobby__p  {
            font-size: 1rem;
        }
    }
    .theme__button {
        width: 100px;
        font-size: 15px;
    }
    .pokedex { 
        height: 600px;
        .pokedex__div {
        height: 300px;
        width: 200px;
        }
    }
}

@media (max-width: 720px) {
    .home {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .logo {
        width: 100%;
        .logo__centerLogo {
            width: 100%;
            height: 500px;
            img {
                width: 18em;
            }
        }
    }
    .lobby {
        width: 100%;
        .lobby__div {
            margin-top: 60px;
            .lobby__welcome {
                font-size: 2rem;
            }
            .lobby__p  {
                font-size: 1rem;
            }
        }
        .lobby__contact {
            padding-bottom: 20px;
        }
    }
    #barsMenu {
        cursor: pointer;
        display: block;
        color: white;
        font-size: 2rem;
        margin: 20px;
        height: auto;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(255,255,255,0.1);
        border-radius: 50px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transition: all 500ms ;
            background-color: rgba(255,255,255,0.2);
        }
    }
    .nav {
        z-index: 1;
        margin-top: 0;
        position: fixed;
        top: 0;
        right: -250px;
        background-color: #dd7471;
        height: 100vh;
        width: 250px;
        padding: 40px;
        transition: all 500ms;
        .nav__ul {
            margin-top: 50px;
            flex-direction: column;
            a{
                color: #000;
            }
            li {
                margin-top: 20px;
                &:hover {
                    text-shadow: 2px 4px white;
                }
            }
        }
    }
    .back__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
        display: none;
    }
    .theme {
        height: auto;
        .theme__h2 {
            text-align: center;
        }
        .theme__containerCards {
            flex-direction: column;
            padding-bottom: 50px;
        }
    }
    .theme__card {
        .theme__cardBack {
            & h2 {
                font-size: 1.4rem;
            }
            & p {
                font-size: 0.8rem;
            }
        }
    }
    .theme__button {
        width: 150px;
        font-size: 20px;
        margin: 70px auto 20px;
    }
    .theme__card {
        width: 40vw;
        height: 40vw*1.3
    }
    .pokedex { 
        height: auto;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        .pokedex__div {
        height: 300px;
        width: 200px;
        margin: 50px auto;
        }
    }
}
